<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-brand">
      Prudential Life Distributors    
    </div>    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf=" this.authService.currentlyLogged()">
        <a class="nav-link" [routerLink]="['/case']">Case</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf=" this.authService.currentlyLogged()">
        <a class="nav-link" [routerLink]="['/commission']">Commission</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf=" this.authService.currentlyLogged()">
        <a class="nav-link" [routerLink]="['/payment']">Payment</a>
      </li>  
      <li class="nav-item" routerLinkActive="active" *ngIf=" this.authService.currentlyLogged()">
          <div class="nav-link dropdown" dropdown>
              <a class="dropdown-toggle text-light" dropdownToggle>
                  Maintenance 
                </a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/product']">
                     Product</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/rate']">
                      Rate</a>
                      <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/transactiontype']">
                      Transaction Type</a>
                  </div>
          </div>
      </li>    
    </ul>
  </div>
  <div *ngIf=" this.authService.currentlyLogged()"><a class="nav-link" (click)="logoff()">Log Off</a></div>
</nav>